<%= turbo_frame_tag chat_session, class: "flex w-full pt-3" do %>
    <div class="w-3/6">
        <%= link_to document_chat_session_path(@document, chat_session), data:{turbo_frame: '_top'} do %>
            <%= chat_session.title %>
        <% end %>
    </div>
    <div class="w-2/6">
        <%= link_to document_chat_session_path(@document, chat_session), data:{turbo_frame: '_top'} do %>
            <%= chat_session.inquires.size %>
        <% end %>
    </div>
    <div class="w-1/6 flex">
        <%= link_to edit_document_chat_session_path(@document, chat_session) do %>
            <i><%= image_tag('edit.svg', size: '25x25', class: 'cursor-pointer', alt: 'Edit chat session icon')  %> </i>
        <% end %>
        <%= link_to document_chat_session_path(@document, chat_session), data:{turbo_method: :delete, turbo_confirm: "Are you sure? (all the questions on this sessions will be deleted)"} do %>
            <i><%= image_tag('trash.svg', size: '25x25', class: 'cursor-pointer', alt: 'Remove chat session icon')  %> </i>
        <% end %>
    </div>
<% end %>
